#grid {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

#active {
  color: red;
}

.saw {
  color: grey;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  text-align: center;
  border-bottom: solid grey 1px;
  margin: 0;
  padding: 20px;
}

#grid ol {
  text-align: center;
  border-right: solid grey 1px;
  width: 120px;
  margin: 0;
  padding: 20px;
  padding-left: 30px;
}

body {
  margin: 0;
}

#gird #article {
  padding-left: 25px;
}

@media(max-width:800px) {
  #grid {
    display: block;
  }

  #grid ol {
    border-right: none;
    border-bottom:solid grey 1px ;
    margin: 10px;

  }
  h1 {
    font-size: 40px;
    border-bottom:none;
    margin: 0;
    padding: 20px;
  }
}
img{
  max-height:70%;
  max-width:70%;
}
